body{
    margin: 0;
}
#container{
    margin: 0;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    background-color: coral;
}
div{
    flex-direction: column;
    border-style: solid;
    display: flex;
    flex-grow: 1;
}
.hover{
    background-color: #FFF;
}